
/*Sets the width of the overall page container div
to 90% of viewport width and margin:auto centers the page
in the middle of the browser no matter how wide you stretch the browser*/
.pagecontainer {
  margin: auto;
  width: 90vw;
  background: lightyellow;
}

header {
  background: linear-gradient(to right, lightblue, #D0F2EA, white);
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size:3rem;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
}

h3 {
  font-family: 'Chivo', sans-serif;
}

body {
  font-family: 'KoHo', sans-serif;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
/*Sets background color of nav list elements and their width and height*/
nav ul li {
  background: #A6DAED;
  height: 2rem;
  width: 36rem;
  padding-top: 1rem;
  border-color: lightyellow;
  border: 4px solid lightyellow;
  border-width: 1px;
  text-align: center;
}
/*Takes away the default underlining of links and sets color of menu font*/
nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
/*Active psuedoclass is used so When you click on a menu item it turns orange.*/
nav ul li:active {
  background: #D0F2EA;
}
/*This class should be applied to html differently on each page to let user know
which page you are on--in this case the home page*/
.locationmarker {
  background: #82C1D8;
}

article {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  background: linear-gradient(to right, lightblue, #D0F2EA, white);
  padding: 2rem;
  text-align: center;
}
